<div id="dancePackageManager" class="row packageManager">
    <div id="monday" class="col-12 aFormGroup dayParent noInputResize day">
        <h4>Monday:</h4>
        <div class="container-fluid">
            <div class="row danceDayParent">
                
            </div>
        </div>
        <div class="col-12 px-0 addBtnDiv">
            <div class="addBtn text-center"><i class="fa fa-plus"></i></div>
        </div>
    </div>
    <div id="tuesday" class="col-12 aFormGroup dayParent noInputResize day">
        <h4>Tuesday:</h4>
        <div class="container-fluid">
            <div class="row danceDayParent">
                
            </div>
        </div>
        <div class="col-12 px-0 addBtnDiv">
            <div class="addBtn text-center"><i class="fa fa-plus"></i></div>
        </div>
    </div>
    <div id="wednesday" class="col-12 aFormGroup dayParent noInputResize day">
        <h4>Wednesday:</h4>
        <div class="container-fluid">
            <div class="row danceDayParent">
                
            </div>
        </div>
        <div class="col-12 px-0 addBtnDiv">
            <div class="addBtn text-center"><i class="fa fa-plus"></i></div>
        </div>
    </div>
    <div id="thursday" class="col-12 aFormGroup dayParent noInputResize day">
        <h4>Thursday:</h4>
        <div class="container-fluid">
            <div class="row danceDayParent">
                
            </div>
        </div>
        <div class="col-12 px-0 addBtnDiv">
            <div class="addBtn text-center"><i class="fa fa-plus"></i></div>
        </div>
    </div>
    <div id="friday" class="col-12 aFormGroup dayParent noInputResize day">
        <h4>Friday:</h4>
        <div class="container-fluid">
            <div class="row danceDayParent">
                
            </div>
        </div>
        <div class="col-12 px-0 addBtnDiv">
            <div class="addBtn text-center"><i class="fa fa-plus"></i></div>
        </div>
    </div>
    <div id="saturday" class="col-12 aFormGroup dayParent noInputResize day">
        <h4>Saturday:</h4>
        <div class="container-fluid">
            <div class="row danceDayParent">
                
            </div>
        </div>
        <div class="col-12 px-0 addBtnDiv">
            <div class="addBtn text-center"><i class="fa fa-plus"></i></div>
        </div>
    </div>
    <div id="sunday" class="col-12 aFormGroup dayParent noInputResize day">
        <h4>Sunday:</h4>
        <div class="container-fluid">
            <div class="row danceDayParent">
                
            </div>
        </div>
        <div class="col-12 px-0 addBtnDiv">
            <div class="addBtn text-center"><i class="fa fa-plus"></i></div>
        </div>
    </div>
</div>