<!-- Site footer -->
<footer class="site-footer">
    <div class="container" style="max-width: 97%;">
        <div class="row">
            <div class="col-xs-12 accordion col-md-2 text-center">
                <img src="/index/images/logo.png" style="height:120px;width:120px;"><br>
                <h3><b>Sigma </b>Tenant</h3>
            </div>
            <div class="col-xs-6 col-md-5" style="text-align: left;">
                <h4 style="margin-left: 0;"><b class="bold">About Us</b></h4>
                <p id="aboutus" style="font-size: 16px;">SigmaTenant is a student run start-up pre incubated by NSRCEL,
                    IIM Bangalore. We started
                    as an informative website about PGs and hostels, connecting proprietors of spaces to students.We
                    have now diversified into various other sectors of co-living, co-working spaces, dance and fitness
                    studios. We also provide SaaS and other technology-driven services.</p>
            </div>

            <div class="col-xs-6 col-md-5 col-xs-6" style="text-align: right;">
                <h4 style="margin-left: 0;"><b class = "bold">Contact Us</b></h4>
                <ul class="footer-links" id="contact" style="font-size: 16px; text-align:right">
                    <li><b><i class="fa fa-home mr-3"></i>Walkeshwar Road, Mumbai, Maharashtra, India</b></li>
                    <li><b><i class="fa fa-phone mr-3"></i>+91 6296 076 018</b></li>
                    <li><b><i class="fa fa-envelope mr-3"></i>social@sigmatenant.com</b></li>
<!--                    <li><b><a href="https://www.sigmatenant.com/privacy" target="_blank"><i class="fas fa-file-alt mr-3"></i>Privacy Policy</a></b></li>-->
                    {{!-- <li><b><a href="#"><i class="fa fa-print mr-3"></i>+ 01 234 567 89</a></b></li> --}}
                </ul>
            </div>
        </div>
        <hr style="border-color: white; margin-top:0;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2020-Sigma Tenant-All Rights Reserved. Privacy Policy | Site Terms & Disclosures
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/sigmatenant/"><i
                            class="fab fa-facebook"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/sigma_tenant"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a class="linkedin" href="https://www.linkedin.com/company/sigmatenant/"><i
                            class="fab fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/sigmatenant/"><i
                            class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>