<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="/timePicker/css/bootstrap-material-datetimepicker.css">
<script src="/timePicker/js/bootstrap-material-datetimepicker.js" charset="utf-8"></script>


<link rel="stylesheet" href="/stylesheets/automation/automation.css">
 <script src="/js/automation/automation.js"></script> 


<div class="background row">
    <div class="col-lg-6 col-md-12 col-12 heading">
        <h1 class="heading">Automation Process Prototype</h1>
    </div>

    <div class="col-lg-6 col-md-12 col-12 covidImage">
        <div class="imageContainer">
            <img src="/images/automation.png" alt="covidimage" class="image">
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-bottom: 2rem;">
    <div class="row align-items-center justify-content-center">
        <div class="col-11 col-md-9 col-lg-8">
            <a href="/coworkingForm">
                <button class="formBtn" type="button" >Co-Working space</button>
            </a>
            <a href="/colivingForm">
                <button class="formBtn" type="button"  >Co-Living space</button>
            </a>
            <a href="/danceStudioForm">
                <button class="formBtn" type="button">Dance Studio</button>
            </a>
            <a href="/petStudioForm">
                <button class="formBtn" type="button">Pet Studio</button>
            </a>
        </div>
    </div>
</div>


