<link rel='stylesheet' href='/stylesheets/dancetag.css' />


<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="/images/tags/undraw_workout_gcgu.svg" alt="illustration" srcset="" id="tagimg">
        </div>
        <div class="col-lg-8">
            <h1 id="tagheading">DANCE</h1>
            <div class="row">
                <div class="col-lg-12" id="tagdescription">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nulla optio sed voluptatibus cumque praesentium eos amet corporis aperiam vel! Veniam expedita porro quae error itaque ducimus qui dolor deleniti.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="type">
                        <h4>Virtual</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapien</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="type">
                        <h4>Physical</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapien</p>

                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-5" id="listing">
                    <h4>Listing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor veritatis eaque quaerat, et</p>
                    <a href=""><button type="button" class="btn btn-primary">More Details</button></a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5" id="listing2">
                    <h4>Listing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor veritatis eaque quaerat, et</p>
                    <a href=""><button type="button" class="btn btn-primary">More Details</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5" id="listing">
                    <h4>Listing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor veritatis eaque quaerat, et</p>
                    <a href=""><button type="button" class="btn btn-primary">More Details</button></a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5" id="listing2">
                    <h4>Listing</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor veritatis eaque quaerat, et</p>
                    <a href=""><button type="button" class="btn btn-primary">More Details</button></a>
                </div>
            </div>            
        </div>
        <div class="col-lg-3">
            <img src="images\tags\undraw_music_r1se.svg" alt="" srcset="" id="tagimg2">
        </div>
    </div>
</div>          