<script src='/javascripts/filter/dance.js'></script>
<div class="sidenav" id="mySidenav">
    <div class="row sticky-top">
        <div class="col-6"><label><b class="side-bar" style="font-size: 24px;">Filter</b></label></div>
        <div class="col-5"> <button type="button" id="filterApplied" class="btn filter-btn"><b>Apply</b></button>
        </div>
        <div class="col-xs-2" id="xbtn"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <b class="side-bar side-bar-price">Price Per Hour</b><br>
            <div id="slider"><input type="text" class="js-range-slider" name="my_range" value="" /></div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br><br>
    {{!-- <label><b class="side-bar">Type of Space</b> <label class="clear-all">Clear All</label></label>
    <div class="check">

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="ballet" name="option1" value="Ballet">Fixed Desks
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="kathak" name="option1" value="Kathak">Cabins
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Meeting
                Rooms
            </label>
        </div> --}}
        {{!-- <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="hipHop" name="option1" value="Hip Hop">Hip Hop
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="tap" name="option1" value="Tap Dance">Tap
                Dance
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="urban" name="option1" value="Urban">Urban
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="bellyDance" name="option1" value="Belly Dance">Belly
                Dance
            </label>
        </div> --}}

    {{!-- </div><br> --}}
     <label><b class="side-bar">Animal</b> <label class="clear-all">Clear All</label></label>
    <div class="check">

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="ballet" name="option1" value="Ballet">Dog
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="kathak" name="option1" value="Kathak">Cat
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Ferret
            </label>
        </div>
                <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Rabbit
            </label>
        </div>
                <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Guniea Pig
            </label>
        </div>
                <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Bird
            </label>
        </div>
                <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Reptile
            </label>
        </div>
                
        </div><br>

          <label><b class="side-bar">Facilities</b> <label class="clear-all">Clear All</label></label>
    <div class="check">
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="kathak" name="option1" value="Kathak">Warm Tanks (Reptiles)
            </label>
        </div>
                <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Medical Care
            </label>
        </div>
                <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Hygenic Food
            </label>
        </div>
                        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Pet Taxi
            </label>
        </div>
                        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Shelters
            </label>
        </div>
    </div><br>

<label><b class="side-bar">Amenities</b> <label class="clear-all">Clear All</label></label>
    <div class="check">
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="kathak" name="option1" value="Kathak">Exercise
            </label>
        </div>
                <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="breakDance" name="option1" value="Break Dance">Grooming
            </label>
        </div>
    </div><br>
             
<!--    <label><b class="side-bar">Filters</b></label>-->
<!--    <div class="check">-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="freeTrial">-->
<!--                <input type="checkbox" class="form-check-input" id="freeTrial" name="option2" value="Free Trial">Free-->
<!--                Trial-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="groupClasses">-->
<!--                <input type="checkbox" class="form-check-input" id="groupClasses" name="option2"-->
<!--                       value="Group Classes">Group Classes-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="lockerShower">-->
<!--                <input type="checkbox" class="form-check-input" id="lockerShower" name="option2"-->
<!--                       value="Locker and Shower Facilities">Locker and Shower Facilities-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="parking">-->
<!--                <input type="checkbox" class="form-check-input" id="parking" name="option2" value="Parking">Parking-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="personalTraining">-->
<!--                <input type="checkbox" class="form-check-input" id="personalTraining" name="option2"-->
<!--                       value="Personal Training">Personal Training-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="sundayOpen">-->
<!--                <input type="checkbox" class="form-check-input" id="sundayOpen" name="option2"-->
<!--                       value="Sunday Open">Sunday Open-->
<!--            </label>-->
<!--        </div>-->
<!--    </div><br>-->
<!--    <label><b class="side-bar">Locations</b></label>-->
<!--    <div class="check">-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="bilekahalli">-->
<!--                <input type="checkbox" class="form-check-input" id="bilekahalli" name="option3"-->
<!--                       value="Bilekahalli">Bilekahalli-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label">-->
<!--                <input type="checkbox" class="form-check-input" id="silkBoard" name="option3" value="Silk Board">Silk-->
<!--                Board-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="koramangala">-->
<!--                <input type="checkbox" class="form-check-input" id="koramangala" name="option3"-->
<!--                       value="Koramangala">Koramangala-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="hsr">-->
<!--                <input type="checkbox" class="form-check-input" id="hsr" name="option3" value="HSR">HSR-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <label class="form-check-label" for="btm">-->
<!--                <input type="checkbox" class="form-check-input" id="btm" name="option3" value="BTM">BTM Layout-->
<!--            </label>-->
<!--        </div>-->
<!--    </div>-->
</div>